@model UniversityCourseAndResultManagementSystem.Models.Allocation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Allocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day.DayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.DayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.RoomNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AllocationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
