@model UniversityCourseAndResultManagementSystem.Models.AssignCourse

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course Assign to Teacher</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "DepartmentId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", null, "--Select Department--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherId, "Teacher", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="TeacherId" name="TeacherId">
                    <option>--Select Teacher--</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Credit to be Taken", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("CreditToBeTaken", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Remaining Credit", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("RemainingCredit", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, "Course", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="CourseId" name="CourseId">
                    <option>--Select Course--</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("CourseName", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Credit", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("CourseCredit", null, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#DepartmentId").change(function () {
                var deptId = $("#DepartmentId").val();
                var parameter = { departmentId: deptId }
                $("#TeacherId").empty();
                $("#TeacherId").append('<option>--Select Teacher--</option>');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetTeachersByDepartmentId", "AssignCourses")',
                    contentType: "application/json; charset= utf-8",
                    data: JSON.stringify(parameter),
                    success: function (teacherList) {
                        $.each(teacherList, function (key, value) {
                            $("#TeacherId").append('<option value=' + value.TeacherId + '>' + value.TeacherName + '</option>');
                        });
                    }
                });
                $("#CourseId").empty();
                $("#CourseId").append('<option>--Select Course--</option>');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCoursesByDepartmentId", "AssignCourses")',
                    contentType: "application/json; charset= utf-8",
                    data: JSON.stringify(parameter),
                    success: function (courseList) {
                        $.each(courseList, function (key, value) {
                            $("#CourseId").append('<option value=' + value.CourseId + '>' + value.CourseCode + '</option>');
                        });
                    }
                });
            });


            $("#TeacherId").change(function () {
                var id = $("#TeacherId").val();
                var para = { teacherId: id };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetTeacherById", "AssignCourses")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(para),
                    dataType: "json",
                    success: function (teacher) {
                        $("#CreditToBeTaken").val(teacher.CreditToBeTaken);
                        $("#RemainingCredit").val(teacher.CreditToBeTaken);
                    }
                });
            });


            $("#CourseId").change(function() {
                var courseId = $("#CourseId").val();
                var jsnFormatData = { courseId: courseId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseById", "AssignCourses")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsnFormatData),
                    dataType: "json",
                    success: function (course) {
                        $("#CourseName").val(course.CourseName);
                        $("#CourseCredit").val(course.CourseCredit);
                    }
                });
            });
        });
    </script>
}
